/* Section - Formación académica */

.formacion-academica{
    width: 1440px;
    height: 420px;
    padding: 82px;
    gap:32px;
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD;
}
.formacion-contenedor{
    align-items: center;
    justify-content: center;
}

.formacion-titulo h2{
    display: flex;
    align-items: center;
    width: 339px;
    height: 38px;
    margin-left: 29%;
}

h2{
    font-size: 32px;
}

.formacion-locales{
    display: flex;
    flex-direction: row;
    width: 1136px;
    height: 347px;
    gap:16px;
}

.contenedor-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 246px;
    padding: 16px;
    gap:10px;
    background-color: #FFFFFF;
    margin-left: 18px;
}

.img-formacion{
    width: 192px;
    height: 130px;
}

.carrera-formacion{
    width: 200px;
    height: 26px;
    font: 22px;
    color: #464646;
    font-weight: 700;
    margin-left: 5%;
}

.fecha-formacion{
    width: 300px;
    height: 19px;
    font: 16px;
    color:#464646;
    margin-top: -15px;
    font-weight: 500;
    margin-left: 5%;
}

@media only screen and (max-width: 768px){
     /*formacion academica*/
     .formacion-academica{
        width: 100%;
        height: 291px;
        padding: 32px;
        gap: 32px;
    }
    .img-formacion{
        width: 74px;
        height: 58px;
    }
    .contenedor-imagen{
        width: 170px;
        height: 80px;
        padding: 16px;
    }
    p .carrera-formacion{
        font-size: 16px;
    }
    .carrera-formacion {
        padding-left: 5%;
    }
    .fecha-formacion{
        padding-left: 5%;
        width: 100px;

    }

    .formacion-titulo{
        font-size: 22px;
    }
    .formacion-locales{
        width: 704px;
        height: 169px;
      }
      div.formacion-item{
        width: 224px;
        height: 169px;
      }

}
@media only screen and (max-width: 360px){
    /*Formación académica*/
    .formacion-academica{
        padding-top: 800px;
        width: 300px !important;
        height: 700px;
        gap: 32px;
      }

      .formacion-titulo{
        font-size: 22px;
        width: 233px;
        height: 26px;
        padding-bottom: 5%;
        margin-right: 25%;
        margin-top: 60%;
                 
      }
      .contenedor-imagen{
        width: 266px;
        height: 90px;
        padding: 10px;
        gap:10px;
        margin-left: 1%;
      }

      .formacion-locales{
        display: flex;
        flex-direction: column;
        width: 300px;
      }
      .carrera-formacion{
        font-size: 14px;
        margin-left: -4%;
      }
      .fecha-formacion{
        font-size: 14px;
        margin-left: -4%;
      }
      .formacion-item{
        padding-right: 0px;
        margin-left: 0px;
      }
      section .formacion-titulo-mobile{
        margin-left: 10%;
        width: 300px;
    }

    .formacion-contenedor{
        margin-top: -28%;
    }

    
    
}