/* Tercera sección -Skills-Hobbies */

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-section{
    display: flex;
    flex-direction: row;
    width: 1136px;
    height: 174px;
    gap:16px;
    align-items: stretch;
    margin: 0px 0px;
}

.Skills-item{
    width: 176px;
    height: 174px;
    padding: 16px;
    gap:8px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
 
}

.section--sec{
    width: 1136px;
    height: 244px;
    gap:32px;
    background-color: #F5F5F5;
    padding-top: 70px;
}

.parrafo--section{
    padding: 0px;
    margin: 0px;
}

.section--titulo{
    width: 81px;
    height: 38px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-top: -10px;
}

.section--h1{
    align-items: center;
    padding-left: 45%;
}

.section-principal{
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px){
    /*skills*/
    .section--sec{
        width: 768px;
        height: 390px;
        padding: 32px;
        gap: 32px;
    }

    .Skills-item{
        width: 180px;
        height: 118px;
        padding: 16px;
        gap:8px;
    }

    .skills-section{
        display: flex;
        flex-wrap: wrap;
        width: 760px;
        height: 80px;
        margin-left: 6%;
    }

    .section--titulo{
        width: 57px;
        height: 26px;
        font-weight: 700;
        font-size: 22px;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 360px){
     /*Skills*/
     .section--titulo{
        font-size: 22px;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
       }
      .Skills-item{
        width: 110px;
        height: 80px;
        padding: 20px;
        gap: 8px;
      }
      .skills-section{
        width: 328px;
        height: auto;
        gap: 16px;
      }
      .section--sec{
        width:360px ;
        height: 508px;
        padding: 16px;
        gap: 32px;
      }
      .parrafo--section{
        font-size: 14px;
      }
}