
/* Google Fonts */
.raleway-googlefont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

body{
  background-color:#F5F5F5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1;
}

/* Navegador */

.navegador{
    width: 1136px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px, 0px, 32px, 0px;
    margin-left: 90px;
    background-color: #F5F5F5;
    }

    .items_nav1{
        width: 134px;
        height: 24px;
        gap:8px;
        display: flex;
        flex-direction: row;
    }

    .items_nav1 li{
        font-weight: 500;
    }

    .items_nav li{
        font-weight: 500;
        font-size: 16px;
    }

    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

.logo1{
    display: flex;
    align-items: flex-start;
    margin-top:-4px;
    width: 30px;
    height: auto;
}


@media only screen and (max-width: 768px){
    .body--class{
        width: 768px;
        background-color:#F5F5F5;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        line-height: 1;
      }
    
      .navegador{
        height: 80px;
      }
    
      .header-profile{
        height: 230px;
        margin-left: 45px;
      }

    .redes0{
        display: none;
     }
     .redes-0-contacto{
        margin-left:-620px;
     }
      
    .redes1{
        font-size: 16px;
    }

     .items_nav1{
        margin-left: -80px;
     }

     .imagen_perfil{
        margin-left: -250px;
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .imagen_perfil1{
        width: 146px;
        height: 146px;
     }

    .redes_sociales{
        margin-top: -30px;    
     }

     .parrafo_section{
        width: 650px;
        height: 112px;
        gap:16px;
        background-color: #EAF2FD;
        }

        /*footer*/
        .pie-pagina{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 768px;
            height: 62px;
            padding: 32px;
            gap:10px;
        }
        .footer-h3{
            width: 768px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media only screen and (max-width: 360px){

        .body--class{
            width: 360px;
            overflow-x: hidden;
        }

        .navegador{
            width: 360px;
            height: 56px;
        }

        .items_nav1 li{
            font-size: 12px;
            margin-left: 2%;
        }
        .items_nav1{
            padding: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .redes-0-contacto{
            margin-left: -91%;
            font-size: 12px;
        }

        .logo1{
            margin-left: 10%;
        }

       .pie-pagina{
        width: 360px;
        height: 48px;
        padding: 32px;
        gap: 10px;
       }

       .pie-pagina{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 360px;
        height: 62px;
        margin-left: -8%;
        gap:8px;
    }
    .footer-h3{
        width: 360px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 0%;
        margin: 0%;
    }
    }