
/* Google Fonts */
.raleway-googlefont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

body{
  background-color:#F5F5F5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1;
}

/* Navegador */

   
    .navegador{
        width: 1136px;
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px, 0px, 32px, 0px;
        margin-left: 90px;
        background-color: #F5F5F5;
        }

    .items_nav1{
        width: 134px;
        height: 24px;
        gap:8px;
        display: flex;
        flex-direction: row;
    }

    .items_nav1 li{
        font-weight: 500;
    }

    .items_nav li{
        font-weight: 500;
        font-size: 16px;
        display: none;
    }

    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

.logo1{
    display: flex;
    align-items: flex-start;
    margin-top:-4px;
    width: 30px;
    height: auto;
}


@media only screen and (max-width: 768px){
    .body--class{
        width: 768px;
        background-color:#F5F5F5;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        line-height: 1;
      }
    
      .navegador{
        height: 80px;
        width: 700px;
      }
    
      .header-profile{
        height: 230px;
        margin-left: 45px;
      }

    .redes0{
        display: none;
     }
     .redes-0-contacto{
        margin-left:-20px;
     }
      
    .redes1{
        font-size: 16px;
    }

     .items_nav1{
        margin-left: -80px;
     }

     .imagen_perfil{
        margin-left: -250px;
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .imagen_perfil1{
        width: 146px;
        height: 146px;
     }

    .redes_sociales{
        margin-top: -30px;    
     }

     .parrafo_section{
        width: 650px;
        height: 112px;
        gap:16px;
        background-color: #EAF2FD;
        }

        /*footer*/
        .pie-pagina{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 768px !important;
            height: 62px;
            padding: 32px;
            gap:10px;
        }
        .footer-h3{
            width: 768px !important;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media only screen and (max-width: 360px){

   
        .body--class{
            width: 300px;
            overflow-x: hidden;
        }

        .navegador{
            width: 300px;
            height: auto;
            margin: 0%;
            padding: 0%;
            margin-bottom: 5%;
        }
     
        .items_nav1 li{
            font-size: 12px;
            width: 0%;
          
        }

        .items_nav li:nth-child(6){
            display: block;
        }

        .items_nav{
            display: none;
        }

        .items_nav--2{
            background-color: #F5F5F5;
            width: 200px;
            height: 20px;
            display: flex;
            justify-content: flex-start;
            padding: 0%;
            margin-left: -21%;
        }


        .items_nav1{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;
        }

        .redes-0-contacto{
            font-size: 12px;
            padding: 0%;
            margin:0%

        }

        /*footer*/
     
       .pie-pagina{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 300px !important;
        height: 62px;
        padding: 0%;
        margin: 0%;
        
    }
    .footer-h3{
        width: 300px !important;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 0%;
        margin: 0%;
    }
    }

    @media only screen and (max-width: 1440px){
        .items_nav li{
          display: block;
        }
    }